wheel>=0.23.0
numpy>=1.9.0
matplotlib>=1.3.0
pandas
scipy>=0.15
tqdm                 # Progress bar library
multihist>=0.4.1     # Histogram library
pytest>=3.0.0        # 3.0 needed for a yield statement in a fixture

# Not required, but recommended:
# iminuit              # The Minuit minimizer
